.l-contents{
	width: 100%;
	height: auto;
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
			&.-parallax{//パラドックス背景の場合、ここは透明画像
				justify-content: center;
				align-items: center;

				background-attachment: fixed;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				&.-parallax_bg{//ここに背景を指定する。
					background-image: url(../images/bg/header_bg_s.jpg);
					@include mq(tb){
						background-image: url(../images/bg/header_bg.jpg);
					}
				}
			}
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;
			&.-topBtn{
				top: 86.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 75%;
				@include mq(tb){
					top: 82.5%;
					width: 30%;
				}
				a{
				}
			}
			&.-top-kukaku{
				top: 4%;
				left: 50%;
				transform: translateX(-50%);
				@include mq(tb){
					top: 7.5%;
				}
			}
			&.-top-built-ttl{
				top: 2%;
				left: 50%;
				transform: translateX(-50%);
				@include mq(tb){
					top: 0;
					// width: 60%;
					// max-width: 1000px;
				}
			}
			&.-top-built-contents{
				top: 25%;
				left: 50%;
				transform: translateX(-50%);
				@include mq(tb){
					top: 50%;
				}
			}
			&.-top-boxBtn{
				top: 80%;
				left: 50%;
				transform: translateX(-50%);
				width: 20%;
			}
			&.-contact-ttl{
				@include mq(tb){
					top: 10%;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&.-contact-btnArea{
				top: 57%;
				left: 50%;
				transform: translateX(-50%);
				@include mq(tb){
					top: 50%;
				}
			}

			&.-p-text{
				top: .2%;
				left: 50%;
				transform: translateX(-50%);
			}
			&.-p-contents{
				top: 3%;
				left: 50%;
				transform: translateX(-50%);
			}
			&.-p-contents_ttl{
				bottom: 8%;
				left: 50%;
				transform: translateX(-50%);

			}
			&.-p-contents_contact{
				bottom: 3%;
				left: 50%;
				transform: translateX(-50%);
			}
			&.-p-naikanArea_ttl{
				top: 84%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				@include mq(tb){
					top: 77%;
					
				}
				@include mq(tb-pc1400){
					top: 75%;
				}
				@include mq(tb-pc1500){
					top: 76%;
				}
			}
			&.-p-naikanArea{
				&.-p04{
					top: 89%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					@include mq(tb){
						top: 83%;
					}
					@include mq(tb-pc1400){
						top: 81%;
					}
					@include mq(tb-pc1500){
						top: 82%;
					}
				}
			}

			.l-contentsBox--wrapper{
				width: 100%;
				height: auto;
				@include mq(tb){
					width: 100%;
					max-width: 1315px;
					margin: auto;
				}
			}
			&.-text{
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-slider{
		//下記スマホ以上
		@include mq(tb){
		}
	}
}


