
.l-contents{
    &.-img-bg{// 背景画像＋コンテンツ
        .l-contentsBox{
            //サイト右側中段に表示 （PCのみ）
			&.-right-topBtn{
				top: 2.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 8% 23%;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-right-btmBtn{
				top: 52.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 8% 23%;
				}
			}
        }
    }
}


#sp-btm-contactArea{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    z-index: 9999;
}
// どのサイトでも使えるようにした。
#pc-right-contactArea{
	background: $site-color01;
	border: 1px solid $site-color01;
    position: fixed;
    top: 33%;
    right: 2%;
    z-index: 9999;
    .base-bg{
        max-width: 45px;
    }
}


svg{
    &#rightBtn_top{
        .cls-1{
            fill: $site-color01;
        }
    }
    #rightBtn_btm{
        .cls-1{
            fill: $main-color--w;
        }
    }
}
